<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<%= image_tag "http://pis-prototipo-2013.herokuapp.com/assets/banner3-f8244a475ef43dea1dc12d0fb31cef1e.png" %>
  	
  	<br/>
  	<br/>
  	
    <h1>Nueva contraseña para el usuario <%= @user.name %></h1>
    
    <p>
      Se ha generado una nueva contraseña para su usuario.
      <br/>
      Si usted no solicitó la generación, por favor comuníquese con el administrador.
      <br/>
      <br/>
      Para acceder a su cuenta, debe hacerlo utilizando su nombre de usuario y la nueva contraseña:
      <br/>
      <h2><%= @user.password %></h2>
      <br/>
    </p>
    <p>
      Para iniciar sesión, simplemente igue este enlace: <%= @url %>.
    </p>
  </body>
</html>