<div class="centrado">
	<h1>Mostrar tarea</h1>
	
	<table class="table table-bordered table-hover table-condensed">
  	<tr>
  		<td class="form-control">Fecha</td>
  		<td><%= @task.date %></td>
  	</tr>
  	<tr>
  		<td class="form-control">Hora de inicio</td>
  		<td><%= @task.time_start %></td>
  	</tr>
  	<tr>
  		<td class="form-control">Hora de fin</td>
  		<td><%= @task.time_end %></td></td>
  	</tr>
  	<tr>
  		<td class="form-control">Descripcion</td>
  		<td><%= @task.description %></td></td>
  	</tr>
  </table>

</div>