<div class="centrado">
	<h1>Datos del usuario</h1>
	
	<table class="table table-bordered table-hover table-condensed">
  	<tr>
  		<td class="form-control">Nombre</td>
  		<td><%= @user.name %></td>
  	</tr>
  	<tr>
  		<td class="form-control">Email</td>
  		<td><%= @user.email%></td>
  	</tr>
  	<tr>
  		<td class="form-control">Rol</td>
  		<td><%= @user.role.name%></td>
  	</tr>
    <tr>
      <td class="form-control">Estado</td>
      <td><%= @user.state.name%></td>
    </tr>
  </table>
 
</div>