
<div class="centrado">
	
	<h1>Bienvenido al Sistema de Registro de Horas</h1>
	<h2>Para acceder a la aplicación debe iniciar sesión</h2>
	
	<table>
		<tr>
			<td>Nombre de usuario</td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td>Contraseña</td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="Ingresar!" /></td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= link_to "Registrarse", "users/new", method: :get %>
			</td>
		</tr>
	</table>
</div>