/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* ************************************************************************ */
/* 			Objetos HTML 																												*/
/* ************************************************************************ */

h1 {
	font-size: 16px;
	margin-bottom: 30px;
}

h2 {
	font-size: 13px;
	margin-bottom: 20px;
}

input {
	font-size: 12px;
}

input[type="submit"] {
	float: right;
}



/* ************************************************************************ */
/* 			Estructura de la plantilla																					*/
/* ************************************************************************ */

#todo {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0 auto;
	width: 800px;
}

#cabezal {
	height: 200px;
	background: url("banner.png");
}

#pie {
	height: 30px;
	background-color: #00A425;
}

#cuerpo {
	background-color: #eeeeee;
	padding-top: 20px;
	padding-bottom: 50px;
}

#contenido {}

#mensajesFlash {
	margin: 20px auto 30px auto;
	padding: 10px 15px 10px 15px;
	background-color: #E7E2FF;
	font-weight: bold;
}


/* ************************************************************************ */
/* 			Clases utiles 																											*/
/* ************************************************************************ */

.centrado {
	text-align: center;
}
.centrado table {
	margin: 0 auto;
	text-align: left;
}
